@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme {
  --color-background: var(--background);
  --font-inter: "Inter", "sans-serif";
  --color-primary: #FAFAD2;
  --color-secondary: #2E8B57;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;
}


html {
  scroll-behavior: smooth;
}
